* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
section {
  font-family: "Inter", sans-serif;
  color: #343a40;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  font-weight: 700;
}

header {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(
      rgba(244, 236, 122, 0.666),
      rgba(195, 185, 277, 0.383)
    ),
    url(HeaderMM1.png);
  background-size: cover;
}
h1 {
  margin-bottom: 20px;
  font-size: 44px;
}
.header-container {
  display: flex;
  position: relative;
  width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-container-inner {
  width: 50%;
  margin-bottom: 70px;
}

.btn:link,
.btn:visited {
  bottom: 0;
  position: absolute;
  text-decoration: none;
  background-color: orangered;
  padding: 16px 32px;
  display: inline-block;
  color: #fff;
  border-radius: 9px;
  font-weight: 600;
}

h2 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 30px;
  color: #a4a8ac;
}

section {
  margin-bottom: 25px;
  line-height: 1.6;
  padding-bottom: 55px;
  padding-top: 55px;
  font-size: 18px;
}
